# Enable URL rewriting
RewriteEngine On

RewriteBase {{HTACCESS_ORIGIN}}

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteCond %{REQUEST_URI} \.php$ [NC]
RewriteRule ^ - [L]

RewriteRule ^(.*)$ {{HTACCESS_ORIGIN}}/index.html [L]
