# Enable URL rewriting
RewriteEngine On

RewriteBase {{HTACCESS_ORIGIN}}

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteCond %{REQUEST_URI} !^{{HTACCESS_ORIGIN}}/php/ 

# Redirect all other requests to index.html
RewriteRule ^ index.html [L]

AddType text/css .css
AddType application/javascript .js